@model Food

@{
    ViewData["Title"] = "ویرایش";
     Layout=null;
}

<h1>ویرایش</h1>

<h4>غذا</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="foodFrm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodMeels" class="control-label"></label>
                <select id="MeelIds" name="MeelIds" multiple="multiple" data-placeholder="وعده های غذایی...">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FoodNutrients" class="control-label"></label>
                <select id="NutrientIds" name="NutrientIds" multiple="multiple" data-placeholder="Select Nutrients...">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FoodUnits" class="control-label"></label>
                <select id="UnitIds" name="UnitIds" multiple="multiple" data-placeholder="Select Units...">
                </select>
            </div>

                <div class="form-group">
                <label asp-for="SicknessFoods" class="control-label"></label>
                <select id="SicknessIds" name="SicknessIds" multiple="multiple" data-placeholder="Select Sicks...">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="FoodImages" class="control-label"></label>
                <div id='imageShow'></div>
                <input id="foodImagesInput" class="form-control ImageSrc" type="file" accept="image/*" />
                </select>
            </div>
            <div class="form-group">
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                 <a class="btn btn-primary btn-lg  tjax" href='@Url.Action("Edit","Food")' forsendform="#foodFrm" method="POST" record="false">ثبت تغییرات</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // create MultiSelect from select HTML element
        var selectedMeelsIdsArray = [];
        var selectedNutrientsIdsArray = [];
        var selectedUnitsIdsArray = [];
       var selectedSicksIdsArray = [];
        
    @foreach (var d in ViewBag.SelectedMeelIds)
    {
        @:selectedMeelsIdsArray.push("@d");
    }
    @foreach (var d in ViewBag.SelectedNutrientIds)
    {
        @:selectedNutrientsIdsArray.push("@d");
    }
    @foreach (var d in ViewBag.SelectedUnitIds)
    {
        @:selectedUnitsIdsArray.push("@d");
    }
   @foreach (var d in ViewBag.SelectedSicks)
    {
        @:selectedSicksIdsArray.push("@d");
    }



        var meelIds = $("#MeelIds").kendoMultiSelect({
            autoBind: true,
            autoClose: false,
            dataTextField: "title",
            dataValueField: "id",
            value: selectedMeelsIdsArray,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetMeels", "Meel")",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        type: 'GET'
                    }
                }
            }
        });

     var SicknessIds = $("#SicknessIds").kendoMultiSelect({
            autoBind: true,
            autoClose: false,
            dataTextField: "title",
            dataValueField: "id",
            value: selectedSicksIdsArray,
            dataSource: {
                transport: {
                    read: {
                       url: "@Url.Action("GetSicks", "Sickness")",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        type: 'GET'
                    }
                }
            }
        });
        

        var nutrientIds = $("#NutrientIds").kendoMultiSelect({
            autoBind: true,
            autoClose: false,
            dataTextField: "title",
            dataValueField: "id",
            value: selectedNutrientsIdsArray,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetNutrients", "Nutrient")",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        type: 'GET'
                    }
                }
            }
        });
        var unitIds = $("#UnitIds").kendoMultiSelect({
            autoBind: true,
            autoClose: false,
            dataTextField: "title",
            dataValueField: "id",
            value: selectedUnitsIdsArray,
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetAllUnits", "Unit")",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        type: 'GET'
                    }
                }
            }
        });

        var files = [];//SelectedImages

    @foreach (var d in ViewBag.SelectedImages)
    {
        @:files.push({ name: '@d', size: 525, extension: '.doc' });
        @:$('#foodFrm').append("<input type='text' value='@d'  name='foodImages'   id='foodImages' style='visibility: hidden; ' />");
        @:$( document ).ready(function() {
        @:    $('span').each(function () {
        @:            if ($(this).html() == '@d') {
        @:              $(this).parent().append("<image  src='/uploads/@d'  class='img img-thumbnail' style='height:100px;' />");
        @:            }
        @:        });
        @:});
   
   
   
   
    }

            $("#foodImagesInput").kendoUpload({
                name: "files",
                files: files,
                showFileList: true,
                async: {
                    saveUrl: "@Url.Action("SaveTemp", "Upload")", // the url to save a file is '/save'
                    removeUrl: "@Url.Action("SaveTemp", "Upload")",
                    autoUpload: true
                },
                select: function (e) {                   
                    console.log('File selected.');
                },      // function for when a file is selected
                success: onFileSuccess,
                remove: onRemove, // function that returns response after upload
                // function after success
                // function for when a file is removed
            });
        function onFileSuccess(e) {
            if (e.response.length != 0) {
                $('#foodFrm').append("<input type='text' value='"+ e.response+"'  name='foodImages'   id='foodImages' style='visibility: hidden;' />");
                console.log(e.response);
                $('span').each(function () {
                    if ($(this).html() == e.response) {
                      $(this).parent().append("<image  src='/uploads/"+e.response+"' class='img img-thumbnail'  style='height:100px;' />");
                    }
                });
            }

        }
        
        function onRemove(e) {
            console.log(e);
            //alert(e.files[0].name);
            $('input[type=text]').each(function () {
                if ($(this).val() === e.files[0].name) {
                    $(this).remove();
                }
            });
        }


    });
</script>
